# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.env_encoded

# Data
data/
*.csv
*.parquet
*.json

# Terraform
.terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json