# Kestra Admin Credentials
KESTRA_ADMIN_USER=your-admin-email@example.com
KESTRA_ADMIN_PASSWORD=your-admin-password

# Google Cloud Configuration
KESTRA_GCP_PROJECT_ID=your-gcp-project-id
KESTRA_GCP_LOCATION=your-gcp-region
KESTRA_GCP_BUCKET_NAME=your-gcs-bucket-name

# BigQuery Datasets
KESTRA_GCP_DATASET_STAGING=staging
KESTRA_GCP_DATASET_INTERMEDIATE=intermediate
KESTRA_GCP_DATASET_MARTS=marts